.experience {
    // height: 695px;
    height: 100vh;
    width: 100%;
    background: #020e1828;
    display: grid;
    place-items: center;

    @media(max-width:600px) {
        height: auto;
    }

    ._expWrapper {
         height: auto;
        width: 1092.800px;
        // background-color: rgb(112, 40, 40);
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media(max-width:600px) {
            width: 85%;
            justify-content: center;
            flex-direction: column;
        }

        ._expText {
            max-width: 701px;
            height: auto;
            text-align: left;

            @media(max-width:600px) {
                width: 100%;
                max-width: unset;
                margin: 0 auto;
            }

            h1 {
                margin: 0;
                font-size: 3.6em;
                font-weight: 900;
                line-height: 1.1;
                letter-spacing: -0.03em;
                display: block;
                margin-bottom: 1.2rem;
                margin-top: .3rem;

                @media(max-width:600px) {
                    max-width: 100vw;
                    font-size: 2.5rem;
                    margin-bottom: 1.8rem;
                }
            }

            p {
                width: 27vw;
                color: #cbc9e2; 
                // max-width: 701px;
                font-size: .92em;
                line-height: 1.6;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-family: 'Josefin Sans', sans-serif;
                
                @media(max-width:600px) {
                    width: 100%;
                    max-width: 320px;
                }
            }
        }

        figure {
            width: 46em;
            max-width: 100%;
            transform: translate3d(0, 0, 0);
            height: 500px;
            display: grid;
            place-items: center;
            // background-color: #f5f5fa;

            @media(max-width:600px) {
                height: 300px;
                margin: 0 auto;
                margin-top: 40px;
                width: 100%;
                // background-color: #cbc9e2;
            }

            img {
                height: 450px;
                margin-left: 50px;

                @media(max-width:600px) {
                    height: 300px;
                    margin-left: 0px;
                }
            }
        }
    }

}