.mail {
    height: 680px;
    width: 100%;
    background: #020e1828;
    display: grid;
    place-items: center;

    ._mailWrapper {
        width: 1092.800px;
        height: 503.047px;
        // background: green;
        margin-top: 3rem;
        display: grid;
        place-items: center;

        ._mailText {
            text-align: center;
            margin-bottom: 5.2em;
            width: auto;
            // margin-top: 1rem;
                        
            h1 {
                font-size: 2.5em;
                font-weight: bold;
                line-height: 1.3;
                max-width: unset;
            }
            p {
                margin: 0 auto;
                font-size: 1.2em;
                line-height: 1.2;
                margin-top: 15px;
                letter-spacing: 0.02em;
                width: 32vw;
                 max-width: 701px;
                 font-family: 'Josefin Sans', sans-serif;
                color: #cbc9e2;
            }
        }

        ._mailForm {
            width: 60%;
            min-width: 500px;
            // background: grey;
            height: 309.016px;
            margin-top: -1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            ._row {
                width: 100%;
                height: auto;
                // background: pink;
                display: flex;
                align-items: center;
                justify-content: space-between;
                

                .rowI {
                    width: 45%;
                    height: auto;
                    display: inline-block;

                    label {
                        display: inline-block;
                        margin-bottom: 5px;
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: .9rem;
                           font-weight: 200;
                           color: #cbc9e2;
                    }
                    input {
                        font-weight: 200;
                        width: 100%;
                        height: 2rem;
                        border: 0;
                        outline: 0;
                        background: transparent;
                        border-bottom: 1px solid #cbc9e2;
                        // border-bottom: 1.5px solid #3d155f;
                        -webkit-writing-mode: horizontal-tb !important;
                        text-rendering: auto;
                        letter-spacing: normal;
                        word-spacing: normal;
                        text-transform: none;
                        text-indent: 0px;
                        text-shadow: none;
                        display: inline-block;
                        text-align: start;
                        appearance: textfield;
                        -webkit-rtl-ordering: logical;
                        cursor: text;
                        margin-top: .5em;
                        font-size: 1.1rem;
                        padding: 1rem;
                        padding-left: 0px;
                        color: #cbc9e2;
                        opacity: 0.7;
                        caret-color: #cbc9e2;
                    }
                        
                    input::placeholder {
                        color: #cbc9e2;
                        font-size: 1rem;
                        background: none;
                        font-family: 'Josefin Sans', sans-serif;
                    }    
                }  
                 
                .rowT {
                    width: 100%;
                    height: auto;
                    display: inline-block;

                    label {
                        display: inline-block;
                        margin-bottom: 5px;
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: .9rem;
                           font-weight: 200;
                           color: #cbc9e2;
                    }

                    textarea::placeholder {
                        color: #cbc9e2;
                        font-size: 1.1rem;
                        background: none;
                        font-family: 'Josefin Sans', sans-serif;
                    } 

                    textarea {
                        width: 100%;
                        height: 4.8rem;
                        display: block;
                         border: 0;
                        outline: 0;
                        background: transparent;
                        border-bottom: 1px solid #cbc9e2;
                        cursor: text;
                        margin-top: -.3em;
                        font-size: 1rem;
                        padding: 1rem;
                        padding-left: 0px;
                        color: #cbc9e2;
                        opacity: 0.7;
                        caret-color: #cbc9e2;
                        resize: none;
                        font-family: 'Poppins', sans-serif;
                    }      
                }

                .shoot {
                    text-align: center;
                    font-family: 'Josefin Sans', sans-serif;
                    min-width: 23.222em;
                    position: relative;
                    font-weight: bold;
                    -webkit-text-transform: uppercase;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-size: 0.8em;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    display: -webkit-inline-box;
                    display: -webkit-inline-flex;
                    display: -ms-flexbox;
                    display: inline-flex;
                    overflow: hidden;
                    background: transparent;
                    white-space: nowrap;
                    -webkit-tap-highlight-color: transparent;
                    align-items: center;
                    justify-content: center;
                    padding: 1.6em 3em;
                    margin: 0 auto;
                    margin-top: 1.2rem;
                    color: #cbc9e2;
                    border: 1px solid #cbc9e2;

                     span {
                         background: linear-gradient(76deg, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff);
                        -webkit-animation: slime 45s ease infinite;
                        animation: slime 45s ease infinite;
                        opacity: .3;
                        height: 100%;
                        position: absolute;
                        z-index: -1;
                        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
                        -webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
                        transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
                    }
                }

                 .shoot:hover {
                    color: #fff;
                    z-index: 1;
                }
                .shoot:hover span{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 600px) {
  .mail {
    height: auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .mail ._mailWrapper {
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    place-items: center;
    transform: scale(0.9);
  }
  .mail ._mailWrapper ._mailText {
    text-align: left;
    margin-bottom: 5.2em;
    width: 100%;
    min-width: 300px;
    margin-top: 1rem;
  }
  .mail ._mailWrapper ._mailText h1 {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.3;
    margin-top: 1rem;
  }
  .mail ._mailWrapper ._mailText p {
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 2rem;
    letter-spacing: 0.02em;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    opacity: .7;
  }
  .mail ._mailWrapper ._mailForm {
    width: 100%;
    min-width: 260px;
    height: auto;
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .mail ._mailWrapper ._mailForm ._row {
    display: block;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input {
    margin-bottom: 2em;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input::-webkit-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input:-ms-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input::-ms-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input::placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea {
    height: 8rem;
    margin-bottom: 1.5rem;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea::-webkit-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea:-ms-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea::-ms-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea::placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .shoot {
    width: 100%;
    min-width: 260px;
    margin-bottom: 2rem;
  }
}

