@import '../config';


nav {
   width: 100%;
    height: 100px;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  padding-top: 3rem;
  // background: red;
  z-index: 9999999;

  h3:nth-child(1) {
     font-family: 'Josefin Sans', sans-serif;
  //  font-style: oblique;
   text-transform: capitalize;
   font-size: 1.4rem;
   animation-duration: 1s;
   color: #cbc9e2;
  // color: #aaa;
   z-index: 999999;
  }
  
  h3 a {
    font-family: 'Josefin Sans', sans-serif;
   text-transform: capitalize;
  }


  & #uc {
    display: grid;
    position: relative;
    place-items: center;
    height: 50px;
    width: 50px;
    border: 2px solid  #cbc9e2;
    border-radius: 50px;
  }
}

.landing {
  width: 100%;
  height: 625.5px;
  display: grid;
  position: relative;
  place-items: center;
  background: #020e1828;
  // background: rgb(16, 16, 17);
  // background: $bg-color-landing;

  @media(max-width:600px) {
    height: auto;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0rem;
    left: -80px;
    width: 26rem;
    height: 26rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://raw.githubusercontent.com/adeolaadeoti/adeolaadeoti-v2/main/public/webp/hand-left.webp");
    transform: scale(0.6);
    @media only screen and (max-width: 45em) {
      width: 20rem;
      height: 20rem;
      display: none;
    }
  }
  // &::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   bottom: -500px;
  //   right: -300px;
  //   width: 25rem;
  //   height: 45rem;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   background-image: url("https://github.com/Pariola-droid/pariola/blob/main/src/img/Dark-white-in-Jumper11.png?raw=true");
  //   z-index: -1;
  //   transform: rotate(-40deg);

  //   @media only screen and (max-width: 45em) {
  //     width: 20rem;
  //     height: 40rem;
  //   }
  // }

  ._rolledT {
    width: auto;
    height: auto;
    position: absolute;
    bottom: -100px;
    right: 0;

    @media(max-width:600px) {
      bottom: -40px;
    }
    
    & img {

    }

  }


  ._wrapperLanding {
     width: 1120px;
      height: 500px;
      // background: white;
      display: flex;
      margin-top: auto;
    align-items: center;
    justify-content: space-around;

    @media(max-width:600px) {
      width: 85%;
      height: fit-content;
      justify-content: space-between;
      flex-direction: column;
      margin: 80px auto;
    }

    ._text {
        width: auto;
        height: fit-content;
        text-align: left;
        // background: green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @media(max-width:600px) {
          width: 100%;
          justify-content: space-between;
        }

        ._textI {
             width: 420px;
             height: auto;
             margin-right: auto;
             margin-top: 4rem;

             @media(max-width:600px) {
              width: 100%;
              margin-right: unset;
              margin: 0 auto;
              margin-top: 4rem;
            }
          
             & .vidHouse {
                position: relative;
                height: auto;
                width: auto;        
                overflow: hidden;
                background: linear-gradient(76deg, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff);
                background-size: 500% 500%;
                -webkit-animation: slime 45s ease infinite;
                animation: slime 45s ease infinite;      
                background-clip: text;
                -webkit-background-clip: text;

                  h1 {
                      font-size: 4em;
                      font-weight: 900;
                      letter-spacing: -0.03em;
                      // color: #f5f5f5;
                      color: rgba(255, 255, 255, 0);
                      text-transform: capitalize;
                      margin-top: -1.3rem;

                      @media(max-width:600px) {
                        font-size: 3em;
                        font-weight: 800;
                        line-height: 1.8;
                        letter-spacing: 2px;
                      }

                span {
                  color: #cbc9e2;       
                }

                &:nth-child(2) {
                    margin-top: -1.8rem;
                  }
              }                         

              & video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    display: none;
                  }
          }
        

          p {
            margin-top: .7rem;
            //  color: #797575; 
            color: #cbc9e2;
            font-weight: 500;

            @media(max-width:600px) {
              width: 88%;
            }
          }
        }

      ._paraG {
        // background-color: bisque;
        width: 223.906px + 223.906px + 40px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2rem;
        margin-top: 90px;

         @media(max-width:600px) {
          width: 100%;
          align-items: flex-start;
          justify-content: space-between;
          margin-top: 60px;
          margin-bottom: 2rem;
        }
        

        p {
          width: 223.906px;
          height: 60px;
          line-height: 1.5;
          // color: rgb(204, 243, 129);
          font-family: 'Josefin Sans', sans-serif;
          font-size: 0.9em;

          @media(max-width:600px) {
            height: fit-content;
            width: 48%;
            font-size: 0.8em;
          }
        }
      }
          
          
    }

    ._imageH {
        // height: 336px;
        // width: 355.234px;
        height: 400px;
        width: 400px;
        //  background: green;
         margin-bottom: 4rem;
         position: relative;

         @media(max-width:600px) {
           margin: 4rem auto;
            height: 200px;
            width: 200px;
         }

         img {
           position: absolute;
           transform: scale(0.6);
           top: -48%;
           left: -78%;
          //  right: 0;
           z-index: 2;
           display: none;
         }

         div {
            height: 336.984px;
            width: 318.734px;
            // background: #f5f5f5;
            position: absolute;
            z-index: 99;

            @media(max-width:600px) {
              margin: 0rem auto;
              height: 220px;
              width: 220px;
            }
            
            .fineBoy {
                  width: inherit;
                  display: block;
                  height: inherit;
                  margin-top: -2.435em;
                  // background-color: #fff;
                  background-size: cover;
                  background-position-x: center;
                  margin-left: -2.2em;
                  background-image: url("https://ik.imagekit.io/9ghb9cknpe/photo5886566955266193353_46IJ0LFtV.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1630960076674");
                  border: 0px;

                  @media(max-width:600px) {
                    margin-top: -2.3em;
                  }
            }
         }

         span {
           
             height: 336.984px;
            width: 318.734px;
            position: absolute;
            border: 2px solid  #cbc9e2;
            top: 10%;
            left: 10%;
            background: transparent;
            

            @media(max-width:600px) {
                height: 200px;
                width: 200px;
            }
         }
    }

  }


}






@import 'about';
@import 'experience';
@import 'caption';
@import 'projects';
@import 'mail';
@import 'footer';


@media(max-width:600px){
   
  
    
    // .landing{
    //   display: none;
    // }

    nav {
     padding: 0 1.6rem;

      h3:nth-child(1) {
          font-family: 'Josefin Sans', sans-serif;          
      }

    
  }




}