.works {
  height: auto;
  width: 100%;
  background: #111111;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.works ._worksWrapper {
  width: 1140px;
  margin: 10rem auto;
}

.works ._worksWrapper ._worksT {
  position: relative;
  text-align: center;
  margin-top: 5.6em;
  margin-bottom: 3.5rem;
}

.works ._worksWrapper ._worksT h3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.802em;
  margin: 0.67em 0;
  margin-bottom: 1.2em;
  font-weight: 700;
  line-height: 1.15;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  color: #fff;
}

.works ._worksWrapper ._worksT h3 span {
  opacity: .7;
}

.works ._worksWrapper ._worksT p {
  margin-bottom: 1.25em;
  position: relative;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  color: #797575;
}

.works ._worksWrapper ._workPack {
  height: auto;
  width: 100%;
}

.works ._worksWrapper ._workPack #myPack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-top: 2em;
}

.works ._worksWrapper ._workPack #myPack .pack {
  height: 300px;
  -ms-flex-grow: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-shrink: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.2em;
  border-radius: 0.2rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 6px -6px rgba(235, 234, 242, 0.58);
          box-shadow: 0px 8px 6px -6px rgba(235, 234, 242, 0.58);
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-property: -webkit-transform, box-shadow;
  -webkit-transition-property: transform, box-shadow;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -ms-flex-preferred-size: calc((100% - 2em) / 3);
      flex-basis: calc((100% - 2em) / 3);
  list-style: none;
}

.works ._worksWrapper ._workPack #myPack .pack .packLink {
  width: 100%;
  height: 100%;
  background-color: #F9F8FD;
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works ._worksWrapper ._workPack #myPack .pack .packLink img {
  margin-top: 4rem;
  height: 40px;
}

.works ._worksWrapper ._workPack #myPack .pack ._packD {
  height: 125px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  padding-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  background-color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.works ._worksWrapper ._workPack #myPack .pack ._packD h3 {
  color: #474747;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 2;
}

.works ._worksWrapper ._workPack #myPack .pack ._packD a {
  color: #4831d4;
  font-size: 1em;
}

.works ._worksWrapper ._workPack #myPack .pack:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

@media (max-width: 1200px) {
  .works ._worksWrapper {
    width: 100%;
  }
  .works ._worksWrapper ._worksT {
    margin-top: 3em;
  }
  .works ._worksWrapper ._workPack #myPack .pack {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 550px) {
  .works ._worksWrapper {
    width: 100%;
  }
  .works ._worksWrapper ._workPack #myPack .pack {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
}
/*# sourceMappingURL=myworks.css.map */