nav {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 150px;
  padding-top: 3rem;
  z-index: 9999999;
}

nav h3:nth-child(1) {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  font-size: 1.4rem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  color: #cbc9e2;
  z-index: 999999;
}

nav h3 a {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
}

nav #uc {
  display: -ms-grid;
  display: grid;
  position: relative;
  place-items: center;
  height: 50px;
  width: 50px;
  border: 2px solid  #cbc9e2;
  border-radius: 50px;
}

.landing {
  width: 100%;
  height: 625.5px;
  display: -ms-grid;
  display: grid;
  position: relative;
  place-items: center;
  background: #020e1828;
}

@media (max-width: 600px) {
  .landing {
    height: auto;
  }
}

.landing::before {
  content: "";
  display: block;
  position: absolute;
  top: 0rem;
  left: -80px;
  width: 26rem;
  height: 26rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://raw.githubusercontent.com/adeolaadeoti/adeolaadeoti-v2/main/public/webp/hand-left.webp");
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

@media only screen and (max-width: 45em) {
  .landing::before {
    width: 20rem;
    height: 20rem;
    display: none;
  }
}

.landing ._rolledT {
  width: auto;
  height: auto;
  position: absolute;
  bottom: -100px;
  right: 0;
}

@media (max-width: 600px) {
  .landing ._rolledT {
    bottom: -40px;
  }
}

.landing ._wrapperLanding {
  width: 1120px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding {
    width: 85%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px auto;
  }
}

.landing ._wrapperLanding ._text {
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._text {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.landing ._wrapperLanding ._text ._textI {
  width: 420px;
  height: auto;
  margin-right: auto;
  margin-top: 4rem;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._text ._textI {
    width: 100%;
    margin-right: unset;
    margin: 0 auto;
    margin-top: 4rem;
  }
}

.landing ._wrapperLanding ._text ._textI .vidHouse {
  position: relative;
  height: auto;
  width: auto;
  overflow: hidden;
  background: linear-gradient(76deg, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff);
  background-size: 500% 500%;
  -webkit-animation: slime 45s ease infinite;
  animation: slime 45s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

.landing ._wrapperLanding ._text ._textI .vidHouse h1 {
  font-size: 4em;
  font-weight: 900;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 0);
  text-transform: capitalize;
  margin-top: -1.3rem;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._text ._textI .vidHouse h1 {
    font-size: 3em;
    font-weight: 800;
    line-height: 1.8;
    letter-spacing: 2px;
  }
}

.landing ._wrapperLanding ._text ._textI .vidHouse h1 span {
  color: #cbc9e2;
}

.landing ._wrapperLanding ._text ._textI .vidHouse h1:nth-child(2) {
  margin-top: -1.8rem;
}

.landing ._wrapperLanding ._text ._textI .vidHouse video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

.landing ._wrapperLanding ._text ._textI p {
  margin-top: .7rem;
  color: #cbc9e2;
  font-weight: 500;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._text ._textI p {
    width: 88%;
  }
}

.landing ._wrapperLanding ._text ._paraG {
  width: 487.812px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.2rem;
  margin-top: 90px;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._text ._paraG {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 2rem;
  }
}

.landing ._wrapperLanding ._text ._paraG p {
  width: 223.906px;
  height: 60px;
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._text ._paraG p {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 48%;
    font-size: 0.8em;
  }
}

.landing ._wrapperLanding ._imageH {
  height: 400px;
  width: 400px;
  margin-bottom: 4rem;
  position: relative;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._imageH {
    margin: 4rem auto;
    height: 200px;
    width: 200px;
  }
}

.landing ._wrapperLanding ._imageH img {
  position: absolute;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  top: -48%;
  left: -78%;
  z-index: 2;
  display: none;
}

.landing ._wrapperLanding ._imageH div {
  height: 336.984px;
  width: 318.734px;
  position: absolute;
  z-index: 99;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._imageH div {
    margin: 0rem auto;
    height: 220px;
    width: 220px;
  }
}

.landing ._wrapperLanding ._imageH div .fineBoy {
  width: inherit;
  display: block;
  height: inherit;
  margin-top: -2.435em;
  background-size: cover;
  background-position-x: center;
  margin-left: -2.2em;
  background-image: url("https://ik.imagekit.io/9ghb9cknpe/photo5886566955266193353_46IJ0LFtV.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1630960076674");
  border: 0px;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._imageH div .fineBoy {
    margin-top: -2.3em;
  }
}

.landing ._wrapperLanding ._imageH span {
  height: 336.984px;
  width: 318.734px;
  position: absolute;
  border: 2px solid  #cbc9e2;
  top: 10%;
  left: 10%;
  background: transparent;
}

@media (max-width: 600px) {
  .landing ._wrapperLanding ._imageH span {
    height: 200px;
    width: 200px;
  }
}

.about {
  width: 100%;
  height: 700px;
  background: #020e1828;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

@media (max-width: 600px) {
  .about {
    height: auto;
  }
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0rem;
  left: -80px;
  width: 26rem;
  height: 26rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://raw.githubusercontent.com/adeolaadeoti/adeolaadeoti-v2/main/public/webp/hand-left.webp");
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

@media only screen and (max-width: 45em) {
  .about::before {
    width: 20rem;
    height: 20rem;
  }
}

.about img {
  position: absolute;
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  left: 5%;
  top: -3%;
  height: 650px;
  display: none;
}

.about img:nth-child(2) {
  position: absolute;
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
  left: -15%;
  top: 50%;
  display: none;
}

.about img:nth-child(3) {
  position: absolute;
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
  left: 30%;
  top: -18%;
  display: none;
}

.about ._aboutWrapper {
  width: 1200px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

@media (max-width: 600px) {
  .about ._aboutWrapper {
    width: 85%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about ._aboutWrapper ._textAbt {
  max-width: 460px;
  height: auto;
  font-size: 1.07em;
  display: block;
  text-align: left;
}

.about ._aboutWrapper ._textAbt h1 {
  margin: 0;
  font-size: 3.5em;
  font-weight: 900;
  letter-spacing: -0.03em;
  color: transparent;
  max-width: 30vw;
}

@media (max-width: 600px) {
  .about ._aboutWrapper ._textAbt h1 {
    font-size: 2.5em;
    max-width: unset;
  }
}

.about ._aboutWrapper ._textAbt p {
  line-height: 1.6;
  color: #cbc9e2;
  font-size: .9em;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1rem;
}

.about ._aboutWrapper ._textAbt:nth-child(1) {
  margin-bottom: auto;
}

@media (max-width: 600px) {
  .about ._aboutWrapper ._textAbt:nth-child(1) {
    margin-bottom: 35px;
  }
}

.about ._aboutWrapper ._textAbt:nth-child(2) {
  margin-top: auto;
}

@media (max-width: 600px) {
  .about ._aboutWrapper ._textAbt:nth-child(2) {
    margin-top: 35px;
  }
}

.experience {
  height: 100vh;
  width: 100%;
  background: #020e1828;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 600px) {
  .experience {
    height: auto;
  }
}

.experience ._expWrapper {
  height: auto;
  width: 1092.800px;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  .experience ._expWrapper {
    width: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.experience ._expWrapper ._expText {
  max-width: 701px;
  height: auto;
  text-align: left;
}

@media (max-width: 600px) {
  .experience ._expWrapper ._expText {
    width: 100%;
    max-width: unset;
    margin: 0 auto;
  }
}

.experience ._expWrapper ._expText h1 {
  margin: 0;
  font-size: 3.6em;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.03em;
  display: block;
  margin-bottom: 1.2rem;
  margin-top: .3rem;
}

@media (max-width: 600px) {
  .experience ._expWrapper ._expText h1 {
    max-width: 100vw;
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
  }
}

.experience ._expWrapper ._expText p {
  width: 27vw;
  color: #cbc9e2;
  font-size: .92em;
  line-height: 1.6;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 600px) {
  .experience ._expWrapper ._expText p {
    width: 100%;
    max-width: 320px;
  }
}

.experience ._expWrapper figure {
  width: 46em;
  max-width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  height: 500px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 600px) {
  .experience ._expWrapper figure {
    margin-top: 40px;
    height: 300px;
    margin: 0 auto;
    width: 100%;
  }
}

.experience ._expWrapper figure img {
  height: 350px;
  margin-left: 50px;
}

@media (max-width: 600px) {
  .experience ._expWrapper figure img {
    height: 200px;
    margin-left: 0px;
  }
}

.caption {
  height: 695px;
  width: 100%;
  background: #020e1828;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.caption ._captionWrapper {
  height: 546.391px;
  width: 1256.720px;
  background: #16161a;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caption ._captionWrapper ._capture {
  border-style: solid;
  border-width: 0 0 0.15rem 0;
  border-color: #cbc9e2;
  width: 50%;
  height: 100%;
  border-bottom-width: 0;
  padding: 6.95em;
  padding-left: 6em;
}

.caption ._captionWrapper ._capture ._captureText {
  display: block;
  margin-bottom: 4.6em;
  text-align: left;
}

.caption ._captionWrapper ._capture ._captureText h1 {
  max-width: 30vw;
  margin: 0;
  font-size: 2.8em;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: -0.03em;
  display: block;
  -webkit-animation: slime 45s ease infinite;
  animation: slime 45s ease infinite;
}

.caption ._captionWrapper ._capture ._captureText p {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: unset;
  line-height: 1.2;
  font-size: 1.4em;
  letter-spacing: 0.02em;
  max-width: 701px;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: #cbc9e2;
}

.caption ._captionWrapper ._capture ._aCapture {
  font-family: 'Josefin Sans', sans-serif;
  min-width: 23.222em;
  position: relative;
  font-weight: bold;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-inline-box;
  display: -ms-flexbox;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.6em 3em;
  color: #cbc9e2;
  border: 1px solid #cbc9e2;
}

.caption ._captionWrapper ._capture ._aCapture span {
  background: linear-gradient(76deg, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff);
  -webkit-animation: slime 45s ease infinite;
  animation: slime 45s ease infinite;
  opacity: .3;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.caption ._captionWrapper ._capture ._aCapture:hover {
  z-index: 1;
  color: #fff;
}

.caption ._captionWrapper ._capture ._aCapture:hover span {
  width: 100%;
}

.caption ._captionWrapper ._capture:not(:last-of-type) {
  border-right-width: 0.15rem;
}

@media (max-width: 600px) {
  .caption {
    height: auto;
    width: 100%;
  }
  .caption ._captionWrapper {
    height: auto;
    width: 98%;
    background: #16161a;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .caption ._captionWrapper ._capture {
    border-style: solid;
    border-color: #cbc9e2;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 4.8em 0;
    border-bottom-width: 0rem;
    padding-left: 3em;
  }
  .caption ._captionWrapper ._capture:not(:last-of-type) {
    border-bottom-width: 0.15rem;
    border-right-width: 0px;
  }
  .caption ._captionWrapper ._capture ._captureText {
    display: block;
    margin-bottom: 3.8em;
    text-align: left;
  }
  .caption ._captionWrapper ._capture ._captureText h1 {
    max-width: 100vw;
    margin: 0;
    font-size: 2.4rem;
  }
  .caption ._captionWrapper ._capture ._captureText p {
    font-size: 1.2rem;
  }
  .caption ._captionWrapper ._capture ._aCapture {
    padding: 1.2em 1em;
    color: #cbc9e2;
    border: 1px solid #cbc9e2;
    min-width: 18em;
    font-size: 80%;
  }
}

#projects {
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0px 0;
  padding-top: 120px;
  background: #020e1828;
}

#projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 900px;
}

@media (max-width: 600px) {
  #projects .wrapper {
    width: 88%;
  }
}

#projects .wrapper .pros {
  width: 100%;
  height: 400px;
  background: #16161a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 5rem;
}

@media (max-width: 600px) {
  #projects .wrapper .pros {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 2rem;
  }
}

#projects .wrapper .pros:nth-child(3) > img {
  height: 50px;
}

#projects .wrapper .pros .proImg {
  height: 280px;
  width: 280px;
  border-radius: 30px;
  background: #f5f5fa;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#projects .wrapper .pros .proImg img {
  height: 120px;
}

@media (max-width: 600px) {
  #projects .wrapper .pros .proImg {
    height: 230px;
    width: 230px;
  }
}

#projects .wrapper .pros .proText {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  #projects .wrapper .pros .proText {
    margin-left: 0;
    margin-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#projects .wrapper .pros .proText h1 {
  font-size: 3.5em;
  font-weight: 900;
  letter-spacing: -0.03em;
  color: transparent;
  max-width: 30vw;
}

@media (max-width: 600px) {
  #projects .wrapper .pros .proText h1 {
    max-width: unset;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 2px;
  }
}

#projects .wrapper .pros .proText p {
  max-width: 400px;
  line-height: 1.6;
  color: #cbc9e2;
  font-size: .9em;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  #projects .wrapper .pros .proText p {
    text-align: center;
  }
}

#projects .wrapper .pros .proText ._aCapture {
  font-family: 'Josefin Sans', sans-serif;
  min-width: 60px;
  position: relative;
  font-weight: bold;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-inline-box;
  display: -ms-flexbox;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.6em 3em;
  color: #cbc9e2;
  border: 1px solid #cbc9e2;
}

#projects .wrapper .pros .proText ._aCapture span {
  background: linear-gradient(76deg, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff);
  -webkit-animation: slime 45s ease infinite;
  animation: slime 45s ease infinite;
  opacity: .3;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

#projects .wrapper .pros .proText ._aCapture:hover {
  z-index: 1;
  color: #fff;
}

#projects .wrapper .pros .proText ._aCapture:hover span {
  width: 100%;
}

#projects .wrapper .pros:not(:last-of-type) {
  margin-bottom: 50px;
}

.mail {
  height: 680px;
  width: 100%;
  background: #020e1828;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.mail ._mailWrapper {
  width: 1092.800px;
  height: 503.047px;
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.mail ._mailWrapper ._mailText {
  text-align: center;
  margin-bottom: 5.2em;
  width: auto;
}

.mail ._mailWrapper ._mailText h1 {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.3;
  max-width: unset;
}

.mail ._mailWrapper ._mailText p {
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.2;
  margin-top: 15px;
  letter-spacing: 0.02em;
  width: 32vw;
  max-width: 701px;
  font-family: 'Josefin Sans', sans-serif;
  color: #cbc9e2;
}

.mail ._mailWrapper ._mailForm {
  width: 60%;
  min-width: 500px;
  height: 309.016px;
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mail ._mailWrapper ._mailForm ._row {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mail ._mailWrapper ._mailForm ._row .rowI {
  width: 45%;
  height: auto;
  display: inline-block;
}

.mail ._mailWrapper ._mailForm ._row .rowI label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .9rem;
  font-weight: 200;
  color: #cbc9e2;
}

.mail ._mailWrapper ._mailForm ._row .rowI input {
  font-weight: 200;
  width: 100%;
  height: 2rem;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #cbc9e2;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin-top: .5em;
  font-size: 1.1rem;
  padding: 1rem;
  padding-left: 0px;
  color: #cbc9e2;
  opacity: 0.7;
  caret-color: #cbc9e2;
}

.mail ._mailWrapper ._mailForm ._row .rowI input::-webkit-input-placeholder {
  color: #cbc9e2;
  font-size: 1rem;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .rowI input:-ms-input-placeholder {
  color: #cbc9e2;
  font-size: 1rem;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .rowI input::-ms-input-placeholder {
  color: #cbc9e2;
  font-size: 1rem;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .rowI input::placeholder {
  color: #cbc9e2;
  font-size: 1rem;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .rowT {
  width: 100%;
  height: auto;
  display: inline-block;
}

.mail ._mailWrapper ._mailForm ._row .rowT label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .9rem;
  font-weight: 200;
  color: #cbc9e2;
}

.mail ._mailWrapper ._mailForm ._row .rowT textarea::-webkit-input-placeholder {
  color: #cbc9e2;
  font-size: 1.1rem;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .rowT textarea:-ms-input-placeholder {
  color: #cbc9e2;
  font-size: 1.1rem;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .rowT textarea::-ms-input-placeholder {
  color: #cbc9e2;
  font-size: 1.1rem;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .rowT textarea::placeholder {
  color: #cbc9e2;
  font-size: 1.1rem;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .rowT textarea {
  width: 100%;
  height: 4.8rem;
  display: block;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #cbc9e2;
  cursor: text;
  margin-top: -.3em;
  font-size: 1rem;
  padding: 1rem;
  padding-left: 0px;
  color: #cbc9e2;
  opacity: 0.7;
  caret-color: #cbc9e2;
  resize: none;
  font-family: 'Poppins', sans-serif;
}

.mail ._mailWrapper ._mailForm ._row .shoot {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  min-width: 23.222em;
  position: relative;
  font-weight: bold;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-inline-box;
  display: -ms-flexbox;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.6em 3em;
  margin: 0 auto;
  margin-top: 1.2rem;
  color: #cbc9e2;
  border: 1px solid #cbc9e2;
}

.mail ._mailWrapper ._mailForm ._row .shoot span {
  background: linear-gradient(76deg, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff, #fde1ff, #e0e7ff, #e0f9ff, #fffae9, #e8eaff, #ffe3f7, #daf1ff);
  -webkit-animation: slime 45s ease infinite;
  animation: slime 45s ease infinite;
  opacity: .3;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.mail ._mailWrapper ._mailForm ._row .shoot:hover {
  color: #fff;
  z-index: 1;
}

.mail ._mailWrapper ._mailForm ._row .shoot:hover span {
  width: 100%;
}

@media (max-width: 600px) {
  .mail {
    height: auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .mail ._mailWrapper {
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .mail ._mailWrapper ._mailText {
    text-align: left;
    margin-bottom: 5.2em;
    width: 100%;
    min-width: 300px;
    margin-top: 1rem;
  }
  .mail ._mailWrapper ._mailText h1 {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.3;
    margin-top: 1rem;
  }
  .mail ._mailWrapper ._mailText p {
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 2rem;
    letter-spacing: 0.02em;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    opacity: .7;
  }
  .mail ._mailWrapper ._mailForm {
    width: 100%;
    min-width: 260px;
    height: auto;
    margin-top: -2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mail ._mailWrapper ._mailForm ._row {
    display: block;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input {
    margin-bottom: 2em;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input::-webkit-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input:-ms-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input::-ms-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowI input::placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea {
    height: 8rem;
    margin-bottom: 1.5rem;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea::-webkit-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea:-ms-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea::-ms-input-placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .rowT textarea::placeholder {
    opacity: .5;
  }
  .mail ._mailWrapper ._mailForm ._row .shoot {
    width: 100%;
    min-width: 260px;
    margin-bottom: 2rem;
  }
}

footer {
  height: 550px;
  width: 100%;
  background: #020e1828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f5fad2;
}

footer ._footWrapper {
  height: 283.467px;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 2.7rem;
  padding-top: .5rem;
}

footer ._footWrapper .ulBox {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  margin-bottom: auto;
  text-align: left;
}

footer ._footWrapper .ulBox h3 {
  color: #cbc9e2;
  letter-spacing: 0.25em;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-size: .95rem;
  font-family: 'Josefin Sans', sans-serif;
}

footer ._footWrapper .ulBox ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-size: 1.1em;
}

footer ._footWrapper .ulBox ul li {
  font-size: 1em;
  line-height: 2.5;
  position: relative;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
  -webkit-transition-property: opacity, color, background-color, transform, border;
  -webkit-transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, transform, border;
  transition-property: opacity, color, background-color, transform, border, -webkit-transform;
}

footer ._footWrapper .ulBox ul li:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  letter-spacing: 2px;
}

footer ._footWrapper .ulBox:nth-child(1) {
  margin-right: 245.880px;
  width: 148.234px;
}

footer ._footWrapper .ulBox:nth-child(2) {
  padding-top: 1rem;
}

footer ._footBase {
  width: 1000px;
  height: auto;
  padding-top: 3em;
  font-size: 1.15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  border-top: 1px solid #cbc9e2;
}

footer ._footBase span {
  -webkit-text-transform: capitalize;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
}

footer ._footBase ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  font-size: 1.15em;
  width: 250px;
}

footer ._footBase ul li {
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
  -webkit-transition-property: opacity, color, background-color, transform, border;
  -webkit-transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, border, -webkit-transform;
  transition-property: opacity, color, background-color, transform, border;
  transition-property: opacity, color, background-color, transform, border, -webkit-transform;
}

footer ._footBase ul li:hover {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  footer {
    height: auto;
    width: 100%;
  }
  footer ._footWrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 2.7rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 90%;
  }
  footer ._footWrapper .ulBox:nth-child(1) {
    margin-right: auto;
    width: 148.234px;
  }
  footer ._footWrapper .ulBox:nth-child(2) {
    padding-top: 1rem;
    margin-right: auto;
  }
  footer ._footBase {
    width: 80%;
    padding-bottom: 4rem;
    font-size: 95%;
  }
  footer ._footBase ul {
    display: none;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 0 1.6rem;
  }
  nav h3:nth-child(1) {
    font-family: 'Josefin Sans', sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */